body {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(102, 97, 97, 0.829)), color-stop(rgba(114, 5, 5, 0.849)), to(rgba(24, 23, 23, 0.815)));
  background-image: linear-gradient(to top, rgba(102, 97, 97, 0.829), rgba(114, 5, 5, 0.849), rgba(24, 23, 23, 0.815));
  height: 1920px;
  width: 1080;
}

html {
  scroll-behavior: smooth;
}

.header--propiedades {
  background: #141414;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  line-height: 25px;
  height: 300px;
  width: 100%;
  color: red;
}

.header__logo--prop {
  height: 100%;
  width: 25%;
  left: 0px;
  text-align: center;
  float: left;
}

.header__logo--prop img {
  height: 100%;
  width: 100%;
  -webkit-animation-name: logi;
          animation-name: logi;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.header__navegacion--propiedades {
  height: 100%;
  width: 75%;
  text-align: center;
  top: 50%;
  float: right;
}

.header__navegacion--propiedades ul {
  list-style: none;
  padding-top: 5%;
}

.menuPrincipal > li {
  position: relative;
  display: inline-block;
  -webkit-animation-name: nav;
          animation-name: nav;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.menuPrincipal > li > a {
  display: block;
  color: brown;
  padding: 5% 50px;
  text-decoration: none;
}

.menuPrincipal li a {
  -webkit-transition: all 1.5s;
  transition: all 1.5s;
}

.menuPrincipal li a:hover {
  color: cornflowerblue;
  font-size: 50px;
}

.subGuitarras {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 1.5s;
  transition: all 1.5s;
}

.subGuitarras li a {
  display: block;
  text-decoration: none;
  padding: 5px 0px;
}

.menuPrincipal li:hover .subGuitarras {
  visibility: visible;
  opacity: 1;
}

.carrusel--Prop {
  height: 450px;
  width: 100%;
  background-color: rgba(128, 128, 128, 0.801);
}

carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.carousel-item img {
  height: 450px;
  width: 100%;
}

.row {
  height: auto;
  width: 100%;
}

.bajo-1,
.bajo-2,
.bajo-3,
.bajo-4,
.bajo-5,
.bajo-6 {
  height: 250px;
  width: 300px;
}

.bajo-1 {
  background-color: pink;
  background-image: url("../img/bajos/bajo-1.jpeg");
  background-size: cover;
  background-position: center;
  border-radius: 20%;
}

.bajo-2 {
  background-color: pink;
  background-image: url("../img/bajos/bajo-2.jpeg");
  background-size: cover;
  background-position: center;
  border-radius: 20%;
}

.bajo-3 {
  background-color: pink;
  background-image: url("../img/bajos/bajo-3.jpeg");
  background-size: cover;
  background-position: center;
  border-radius: 20%;
}

.bajo-4 {
  background-color: pink;
  background-image: url("../img/bajos/bajo-4.jpeg");
  background-size: cover;
  background-position: center;
  border-radius: 20%;
}

.bajo-5 {
  background-color: pink;
  background-image: url("../img/bajos/bajo-5.jpeg");
  background-size: cover;
  background-position: center;
  border-radius: 20%;
}

.bajo-6 {
  background-color: pink;
  background-image: url("../img/bajos/bajo-6.jpeg");
  background-size: cover;
  background-position: center;
  border-radius: 20%;
}

.footer--prop {
  height: 250px;
  width: auto;
  background-color: rgba(102, 97, 97, 0.829);
  background-size: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: wrap row;
          flex-flow: wrap row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer__derechos--prop {
  text-align-last: right;
  margin-top: 25px;
  top: 90%;
  left: 50%;
}

.footer__redes--prop {
  font-size: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.footer__mapa-prop {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  margin: 50px;
}
/*# sourceMappingURL=bajos.css.map */