$color: red;
$color1: rgb(20, 20, 20);
$color2: cornflowerblue;

body{
    background-image: linear-gradient( to top, rgba(102, 97, 97, 0.829), rgba(114, 5, 5, 0.849), rgba(24, 23, 23, 0.815));
    height: 1920px;
    width: 1080;
}
html{
    scroll-behavior: smooth;
}
.header--propiedades{
    background: $color1;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    line-height: 25px;
    height: 300px;
    width: 100%;
    color: $color;
    }

.header__logo--prop {
    height: 100%;
    width: 25%;
    left: 0px;
    text-align: center;
    float: left;
    img{
        height: 100%;
        width: 100%;
        animation-name: logi;
        animation-duration: 2s;
        }
    }
.header__navegacion--propiedades{
    height: 100%;
    width: 75%;
    text-align: center;
    top: 50%;
    float: right;
        ul{
            list-style: none;
            padding-top: 5%;
        }
    }
    .menuPrincipal > li{
        position: relative;
        display: inline-block;
        animation-name: nav;
        animation-duration: 1s;
        >a{
            display: block;
            color: brown;
            padding: 5% 50px;
            text-decoration: none;
        }
    }
    .menuPrincipal li a{
        transition: all 1.5s;
    }
    .menuPrincipal li a:hover{
            color: cornflowerblue;
            font-size: 50px;
        }
// Sub Menu de Guitarras

.subGuitarras{
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: all 1.5s;
    li a{
        display: block;
        text-decoration: none;
        padding: 5px 0px;
    }
}
.menuPrincipal li:hover .subGuitarras{
    visibility: visible;
    opacity: 1;
}

// Carrusel
.carrusel--Prop{
    height: 450px;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.801);
}
carousel-indicators li{
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
.carousel-item img{
    height: 450px;
    width: 100%;
}

// each

.row{
    height: auto;
    width: 100%;
}
.bajo-1,
.bajo-2,
.bajo-3,
.bajo-4,
.bajo-5,
.bajo-6 {
    height: 250px;
    width: 300px;
}

@each $bajo in bajo-1 , bajo-2 , bajo-3 , bajo-4 , bajo-5 , bajo-6 {
    .#{$bajo}{
        background-color: pink ;
        background-image: url("../img/bajos/#{$bajo}.jpeg");
        background-size: cover;
        background-position: center;
        border-radius: 20%
    }
}


@import "footer";