@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Boogaloo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sarabun:wght@400;500;700&display=swap");

$font_navbar:'Boogaloo', cursive;
$font_text:'Sarabun', sans-serif;
$font_forms:'Open Sans Condensed', sans-serif;
$font_ldb: 'Libre Baskerville', 'serif';

* {
/*reseteo de los margentes*/
margin: 0;
padding: 0;
text-decoration: none;
box-sizing: border-box;
}

h1{
    font-family: $font_ldb;
    color:white ;
    font-size: 50px;
}
h2{
    font-family: $font_ldb;
    font-size: 30px;
    font-style:oblique;
    margin: 10px;
    color: red;
}
.mainVenta {
    background-image: linear-gradient( to top, rgba(92, 8, 8, 0.959), rgba(114, 5, 5, 0.849), rgba(58, 54, 54, 0.664));
    background-position: left;
    background-size: cover;
    height: auto;
    overflow: hidden;
    border: 3px solid #000c06;
    border-bottom: 1, 1px;
    padding-bottom: 1%;
    h3{
        text-align: center;
    }
}

.fondo {
    width: 80%;
    margin: auto;
    height: auto;
    padding: 1%;
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.itemVen {
    min-height: 200px;
    min-width: 200px;
    border: 5px solid rgb(230, 208, 208);
}

.itemVen:hover {
    transform: scale(1.1);
    transition: 0.7s;
    filter: saturate(2);
    filter: contrast(1.3);
    box-shadow: 5px 5px 10px 1px #422121;
}

.itemVen1 {
    grid-area: "itemVen1";
    background-image: url(../img/Venta/venta1.jpg);
    background-size: cover;
    background-position: center;
}

.itemVen2 {
    grid-area: "itemVen2";
    background-image: url(../img/Venta/venta2.jpg);
    background-size: cover;
}

.itemVen3 {
    grid-area: "itemVen3";
    background-image: url(../img/Venta/venta3.jpg);
    background-size: cover;
}

.itemVen4 {
    grid-area: "itemVen4";
    background-image: url(../img/Venta/venta4.jpg);
    background-size: cover;
    background-position: center;
}

.itemVen5 {
    grid-area: "itemVen5";
    background-image: url(../img/Venta/venta5.jpg);
    background-size: cover;
}

.itemVen6 {
    grid-area: "itemVen6";
    background-image: url(../img/Venta/venta6.jpg);
    background-size: cover;
    filter: brightness(1.3);
}


@media only screen and (min-width: 360px) {
    .fondo {
    grid-template-columns: 1fr;
    }
}
@media only screen and (min-width: 480px) {
    .fondo {

    grid-template-columns: 1fr;
    }
    .mainVenta {
    height: auto;
    padding-bottom: 2%;
    }

    .itemVen1 {
    min-height: 200px;
    min-width: 200px;
    }
}

@media only screen and (min-width: 768px) {
    .fondo {

    grid-template-columns: 1fr 1fr 1fr;
    }

    .itemVen1 {
    grid-row-start: 1;
    grid-row-end: 3;
    }

    .mainVenta {
    height: auto;
    padding-bottom: 2%;
    }

    .itemVen4 {
    grid-row-start: 2;
    grid-row-end: 3;
    }

    .itemVen2 {
    grid-column-start: 2;
    grid-column-end: 4;
    background-position: center;
    }

    .itemVen6 {
    grid-column-start: 2;
    grid-column-end: 4;
    }
}

@media only screen and (min-width: 1200px) {
    .fondo {
    grid-template-columns: 1fr 1fr 1fr;
    }

.mainVenta {
    height: 80vh;
}

    .itemVen1 {
    grid-row-start: 1;
    grid-row-end: 8;
    grid-column-start: 1;
    grid-column-end: 1;
    }

    .itemVen4 {
    grid-row-start: 1;
    grid-row-end: 8;
    grid-column-start: 4;
    }

    .itemVen2 {
    grid-column-start: 2;
    grid-column-end: 3;
    background-position: center;
    }

    .itemVen6 {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 8;
    }

    .itemVen5 {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 8;
    }
}

// importar footer
@import "_footer";